<% include partials/_header %>


<div class="container mt-5">
  <a href="/add" >Add New Details</a>
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>id</td>
            <td>Name</td>
            <td>DOB</td>
            <td>Mobile</td>
            <td>Email</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].Name %></td>
                <td><%= data[i].DOB %></td>
                <td><%= data[i].Mobile %></td>
                <td><%= data[i].Email %></td>
                <td>
                  <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                  <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Remove</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    
    
    <% include partials/_footer %>
